/**
 * Default theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: #72ac4a;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  border: block;
}
table.gsc-search-box td.gsc-input {
  padding-left: 10px;
  padding-right: 0;
  border: 0;
}
input.gsc-input {
  /* border-color: #D9D9D9; */
  font-size: 13px;
  padding: 1px 6px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  padding: 0 8px;
  height: 20px;
  min-width: 54px;
  background-color: #CECECE;
  border: 1px solid #666;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* Customized by Rand */
td.gsc-input { background-color: #72ac4a; border: 0;}
td.gsc-search-button { background-color: #72ac4a; border: 0;}
td.gsc-clear-button { background-color: #72ac4a; border: 0;}

/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
  border-bottom: none;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #FFFFFF;
  border: 1px solid;
  border-top: 2px solid;
  border-color: #e9e9e9;
  border-top-color: #FF9900;
  border-bottom: none;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-column,
.gsc-imageResult-classic {
  padding: .25em;
  border: 1px solid;
  border-color: #ffffff;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border: 1px solid;
  border-color: #FFFFFF;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #FFFFFF;
  border-color: #336699;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #0000CC;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #008000;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #EEE;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: white;
  border: 1px solid #CCC;
  border-top-color: #D9D9D9;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #000000;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

/* Facet box css */
.gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}

.gsc-context-box .gsc-col {
  padding:1px 0;
  white-space: nowrap;
  vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #15C;
  cursor: pointer;
}

.gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #6A9CF3;
  border-right: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-top {
  border-top: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-chart div {
  background: #6A9CF3;
  height: 9px;
}

.gsc-context-box .gsc-facet-result {
  color: #15C;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
.gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #15C;
  cursor: pointer;
}
.gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 20px;
}
.gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
.gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
.gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 7px;
}
.gsc-usr-group-head-results {
  display:inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
  color: #15C;
}
