/* COLORS:
 - off white #eeeeda
 - dark green #256040
 - light green #90d1ad
 - dark-gray #151f1a
 */

/* START: GLOBAL STYLES */
html, body, #page {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #eeeeda;
    /* font-family: "Open Sans";*/
    font-family: "Ubuntu";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Ubuntu"; /*"Open Sans";*/
    font-weight: 300;
    margin: 0;
}

h2 {
    height: 53px;
    margin: 0 -15px 15px -15px;
    padding: 0 0 0 15px;
    background: 0 33px url('../images/hr.png') no-repeat;
}

h3 {
    height: 39px;
    margin: 30px -15px 15px -15px;
    padding: 0 0 0 15px;
    background: 0 17px url('../images/hr2.png') no-repeat;
}

h4 {
    display: inline-block;
    border-bottom: solid 2px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

body {
    background-color: #ECF0F1;
    background: url(../images/bg.jpg) fixed;
}

p {
    line-height: 28px;
}

a, a:focus {
    color: #90d1ad; /* #00C1D5;*/
    cursor: pointer;
}

.container {
    width: 1050px;
}

#header {
    padding-top: 53px;
}

.masthead {
    margin: 30px auto 0 auto;
}

.terminal {
    margin: 30px auto 30px auto;
}

.github-btns {
    padding-top: 5px;
}

.btn {
    background: none;
    border-radius: 0;
    border-width: 2px;
    border-color: #eeeeda;
    color: #eeeeda;
}
.btn:hover {
    background: #eeeeda;
    border-radius: 0;
    border-width: 2px;
    border-color: #eeeeda;
    color: #256040;
}

/* STRONGLOOP */
pre {
    /* font-family: 'Ubuntu Mono', sans-serif; */
    border: dashed 2px #2b4035 !important;
    border-radius: 0 !important;
    background: #151f1a !important;
}
code {
    color: #eeeeda;
    background: #2b4035;
}

/* END: GLOBAL STYLES */

/* START: PRELOADER BAR ON THE TOP*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background-color: #7DBD33;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 12px;
    overflow: hidden;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace .pace-progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -32px;
    bottom: 0;

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;

    -webkit-animation: pace-stripe-animation 500ms linear infinite;
    -moz-animation: pace-stripe-animation 500ms linear infinite;
    -ms-animation: pace-stripe-animation 500ms linear infinite;
    -o-animation: pace-stripe-animation 500ms linear infinite;
    animation: pace-stripe-animation 500ms linear infinite;
}

@-webkit-keyframes pace-stripe-animation {
    0% { -webkit-transform: none; transform: none; }
    100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-stripe-animation {
    0% { -moz-transform: none; transform: none; }
    100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-stripe-animation {
    0% { -o-transform: none; transform: none; }
    100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-stripe-animation {
    0% { -ms-transform: none; transform: none; }
    100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-stripe-animation {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
/* END: PRELOADER BAR ON THE TOP*/

/* START: NAVIGATION ON THE TOP */
.navbar {border: none;}

.navbar-brand {color: #eeeeda !important;}

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar-right {
    margin-right: -147px !important;
}

.navbar-transparent .navbar-nav li a {
    color: #90d1ad;
}

.navbar-transparent .navbar-nav li a:hover,
.navbar-transparent .navbar-nav .active a:hover {
    color: #eeeeda;
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-transparent .navbar-nav .active a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eeeeda;
}
/* END: NAVIGATION ON THE TOP */

/* START: SECTION HEADING */
.fancy {
    line-height: 0;
    text-align: center;
    margin-bottom: 35px;
    color: #08592B;
}
.fancy span {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 0;
    top: 0;
}
/* END: SECTION HEADING */

/* START: COMMON UI ELEMENTS */
.orange {
    color: #ff6419;
}

.btn-half-block {
    width: 50%;
}

/* END: COMMON UI ELEMENTS */

/* SECTIONS */
section {
    margin: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5) url('../images/random-bg.png') repeat-y;
    background-position: center;
}

/* ABOUT */

.about-list {
    font-size: 150%;
}

.anchor {
    display: block;
    height: 52px;
}

footer {
    padding: 60px;
    text-align: center;
}
footer * {
    color: #90d1ad !important;
}

.by-strongloop {color: #90d1ad !important;}
