html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: #000;
    background: #fff;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #2e2e2e;
}

img {
    display: block;
    margin: 1.5rem 0;
}

@media (max-width:767px) {
    img {
        margin: 1.5rem 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead tr {
    background: rgba(0,0,0,0.2);
}

table thead tr th {
    text-align: left;
    padding: 1rem;
}

table tbody tr:nth-child(odd) {
    background: rgba(0,0,0,0.1);
}

table tbody td {
    padding: 1rem;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid rgba(0,0,0,0.1);
}

table tbody td:first-child {
    border-left: none;
}

table tbody td:last-child {
    border-right: none;
}

.x-img-span {
    width: 100%;
    height: auto;
}

.x-center {
    text-align: center;
}

.x-disabled {
    opacity: .35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    filter: alpha(opacity=35);
}

.x-disabled:hover,
.x-disabled:focus {
    cursor: default;
}

.x-greylight {
    background: #383838;
}

.x-white {
    background: #fff;
}

.c-quote {
    padding: 1rem;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    color: black;
    background: #dedede;
}

.c-quote ._attrib {
    color: black;
    margin-left: 2rem;
    font-style: italic;
    background-color: #dedede;
}

.x-green {
    background: #6cb333;
}

.x-hide {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    overflow: hidden;
}

.x-first {
    margin-top: 0;
}

.x-last {
    margin-bottom: 0;
}

.x-flex-v {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.x-flex-e {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width:767px) {
    .x-flex-order-1 {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -o-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .x-flex-order-2 {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -o-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .x-flex-order-3 {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -o-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
}

html {
    font-size: 18px;
}

@media (max-width:980px) {
    html {
        font-size: 16px;
    }
}

body {
    color: #dedede;
    font: 1rem/1.5 'Ubuntu',serif;
    font-style: normal;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

.c-heading {
    margin: 1.5rem 0 1rem 0;
    font-style: normal;
    line-height: 1.1;
}

.c-heading.-h1,
.c-heading.-h2,
.c-heading.-h3 {
    color: #fff;
    font-weight: 500;
}

.c-heading.-h1 {
    font-size: 3rem;
}

.c-heading.-h2 {
    font-size: 2.618rem;
}

.c-heading.-h3 {
    font-size: 1.854rem;
}

.c-heading.-h4,
.c-heading.-h5,
.c-heading.-h6 {
    color: #808080;
    font-weight: 400;
}

.c-heading.-h4 {
    font-size: 1.618rem;
}

.c-heading.-h5 {
    font-size: 1.146rem;
}

.c-heading.-h6 {
    font-size: 1rem;
}

p {
    margin: 1rem 0;
}

code {
    display: inline-block;
    padding: 0 4px;
    border: 1px solid rgba(255,255,255,0.25);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0.25);
}

strong {
    font-weight: 500;
}

blockquote {
    font-style: italic;
}

a {
    color: #a6e573;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition-property: normalize('transition-property',color,webkit);
    -moz-transition-property: normalize('transition-property',color,moz);
    -o-transition-property: normalize('transition-property',color,o);
    -ms-transition-property: normalize('transition-property',color,ms);
    transition-property: normalize('transition-property',color);
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

a:hover,
a:focus {
    color: #d8f2c2;
}

ul,ol,dl {
    margin: 1rem 0 1rem 1.5rem;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

hr {
    display: block;
    height: 0;
    margin: 2rem 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}

li > ul,
li > ol,
li > dl {
    margin-bottom: 0;
}

.v-block {
    display: inline-block;
    margin: 0 8px;
}

.v-button {
    background-color: rgba(6, 83, 10, 0.5);
    display: block;
    border: 1px solid rgba(255,255,255,0.9);
    -webkit-border-radius: .35rem;
    border-radius: .35rem;
    border-width: 2px;
    font-size: 1.25rem;
    padding: .625rem 1.25rem;
    color: white;
    max-width: 5.25 rem;
    margin: auto;
}

.v-descriptions {
    margin-left: 0px;
}

.v-descriptions li {
    display: inline-block;
    font-size: 1rem;
}

.v-descriptions li + li:before {
    content: '|';
    padding: 0 0.3em 0 0.1em;
    color: #fff;
}

.v-readmore {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
}

.c-button {
    padding: .5rem 1rem;
    border: 1px solid rgba(255,255,255,0.9);
    -webkit-border-radius: .35rem;
    border-radius: .35rem;
    color: #d8f2c2;
}

.c-button.-lg {
    border-width: 2px;
    font-size: 1.25rem;
    padding: .625rem 1.25rem;
}

.c-button:hover,
.c-button:focus {
    color: #fff;
    background: rgba(0,0,0,0.25);
}

.c-button:active {
    border-color: #fff;
    background: rgba(255,255,255,0.25);
}

.c-button.x-disabled {
    color: #d8f2c2;
    border-color: rgba(255,255,255,0.5);
}

.docs-button {
    margin-left: 0.5rem;
}

.c-container {
    width: 980px;
    margin: 0 auto;
}

@media (max-width:1019px) {
    .c-container {
        width: 100%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.c-container.-padded {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width:567px) {
    .c-container.-padded {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.c-container.-padded-top {
    padding-top: 3rem;
}

@media (max-width:567px) {
    .c-container.-padded-top {
        padding-top: 2rem;
    }
}

.c-container.-padded-bottom {
    padding-top: 3rem;
}

@media (max-width:567px) {
    .c-container.-padded-bottom {
        padding-bottom: 2rem;
    }
}

.c-container >*:first-child {
    margin-top: 0;
}

.c-container >*:last-child {
    margin-bottom: 0;
}

.c-fleximg {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.c-fleximg.-squeeze {
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-fleximg.-pull-down {
    margin-bottom: -3rem;
}

@media (max-width:567px) {
    .c-fleximg.-pull-down {
        margin-bottom: -2rem;
    }
}

.c-footer ._nav {
    display: block;
    margin-left: auto;
}

.c-footer ._nav ._nav-list {
    margin: 0;
    list-style-type: none;
}

@media (max-width:568px) {
    .c-footer ._nav ._nav-list {
        text-align: center;
    }
}

.c-footer ._nav ._nav-list ._nav-item {
    display: inline-block;
    margin-left: 1rem;
}

@media (max-width:860px) {
    .c-footer ._nav ._nav-list ._nav-item {
        margin-left: .75rem;
    }
}

.c-footer ._nav ._nav-list ._nav-item:first-child {
    margin-left: 0;
}

.c-footer ._nav ._nav-list ._nav-item a {
    color: #d8f2c2;
    font-weight: 300;
}

.c-footer ._nav ._nav-list ._nav-item.-active a {
    color: #fff;
}

.c-footer ._copyright {
    margin: .5rem 0 0 0;
    color: #d8f2c2;
}

@media (max-width:568px) {
    .c-footer ._copyright {
        text-align: center;
    }
}

.c-github-follow {
    width: 140px;
    height: 20px;
    margin: 1rem 0 0 0;
}

@media (max-width:568px) {
    .c-github-follow {
        display: block;
        margin: 1rem auto 0 auto;
    }
}

.c-github-star {
    width: 95px;
    height: 20px;
    margin-left: 1.5rem;
}

@media (max-width:860px) {
    .c-github-star {
        margin-left: 1rem;
    }
}

.c-grid {
    width: 104.081632653061%;
    margin-left: -4.081632653061%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media (max-width:767px) {
    .c-grid {
        width: 100%;
        margin-left: 0;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.c-grid.-center-v {
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.c-grid.-end-v {
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.c-grid.-show ._col {
    margin-bottom: 1rem;
}

.c-grid.-show ._col span {
    display: block;
    min-height: 1rem;
    margin: 1rem 0;
    padding: .5rem 0;
    background: #2e2e2e;
    color: #fff;
    text-align: center;
}

.c-grid ._col {
    padding-left: 3.921568627451%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.c-grid ._col >*:only-child:not(.-pull-down) {
    margin-bottom: 0;
}

@media (min-width:768px) {
    .c-grid ._col >*:only-child:not(.-pull-down) {
        margin-top: 0;
    }
}

.c-grid ._col.-col-1-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.c-grid ._col.-col-5-6 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 83.333%;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%;
}

.c-grid ._col.-col-4-5 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
}

.c-grid ._col.-col-3-4 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
}

.c-grid ._col.-col-2-3 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 66.666%;
    -ms-flex: 0 0 66.666%;
    flex: 0 0 66.666%;
}

.c-grid ._col.-col-3-5 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
}

.c-grid ._col.-col-1-2 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.c-grid ._col.-col-2-5 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}

.c-grid ._col.-col-1-3 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 33.333%;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
}

.c-grid ._col.-col-1-4 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.c-grid ._col.-col-1-5 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.c-grid ._col.-col-1-6 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 16.666%;
    -ms-flex: 0 0 16.666%;
    flex: 0 0 16.666%;
}

.c-grid ._col.-offset-5-6 {
    margin-left: 83.333%;
}

.c-grid ._col.-offset-4-5 {
    margin-left: 80%;
}

.c-grid ._col.-offset-3-4 {
    margin-left: 75%;
}

.c-grid ._col.-offset-2-3 {
    margin-left: 66.666%;
}

.c-grid ._col.-offset-3-5 {
    margin-left: 60%;
}

.c-grid ._col.-offset-1-2 {
    margin-left: 50%;
}

.c-grid ._col.-offset-2-5 {
    margin-left: 40%;
}

.c-grid ._col.-offset-1-3 {
    margin-left: 33.333%;
}

.c-grid ._col.-offset-1-4 {
    margin-left: 25%;
}

.c-grid ._col.-offset-1-5 {
    margin-left: 20%;
}

.c-grid ._col.-offset-1-6 {
    margin-left: 16.666%;
}

.c-grid ._col >*:last-child:not(:only-child) {
    margin-bottom: 0;
}

.callout { background-color: #383838; max-width: 320px;}

@media (max-width:767px) {
    .c-grid ._col.-col-1-1,
    .c-grid ._col.-col-4-5,
    .c-grid ._col.-col-5-6,
    .c-grid ._col.-col-3-4,
    .c-grid ._col.-col-2-3,
    .c-grid ._col.-col-3-5,
    .c-grid ._col.-col-1-2,
    .c-grid ._col.-col-2-5,
    .c-grid ._col.-col-1-3,
    .c-grid ._col.-col-1-4,
    .c-grid ._col.-col-1-5,
    .c-grid ._col.-col-1-6,
    .c-grid ._col.-offset-4-5,
    .c-grid ._col.-offset-5-6,
    .c-grid ._col.-offset-3-4,
    .c-grid ._col.-offset-2-3,
    .c-grid ._col.-offset-3-5,
    .c-grid ._col.-offset-1-2,
    .c-grid ._col.-offset-2-5,
    .c-grid ._col.-offset-1-3,
    .c-grid ._col.-offset-1-4,
    .c-grid ._col.-offset-1-5,
    .c-grid ._col.-offset-1-6 {
        width: 100%;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 0;
        margin-left: 0;
    }
}

.c-grid ._col:first-child >*:only-child:not(.-pull-down) {
    margin-top: 0;
    margin-bottom: 0;
}

.c-grid ._col > .c-heading {
    margin-top: 0;
}

/* Header */

.c-masthead {
    padding: 2rem 0;
    background: #62b220;
    background-image: url("/images/overview/intro-bg-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media (max-width:567px) {
    .c-masthead {
        padding: 1rem 0;
    }
}

.c-masthead ._logo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 3.463777779rem;
}

@media (max-width:567px) {
    .c-masthead ._logo {
        height: 2rem;
    }
}

.c-masthead ._logo::before {
    width: 3rem;
    height: 3.463777779rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: inline-block;
    margin: 0 1rem 0 0;
    content: "";
    background: url("/images/overview/loopback.svg");
}

@media (max-width:567px) {
    .c-masthead ._logo::before {
        width: 2rem;
        height: 2.309185186rem;
    }
}

.c-masthead ._logo .c-heading {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
    font-weight: 400;
}

@media (max-width:567px) {
    .c-masthead ._logo .c-heading {
        font-size: 1.618rem;
    }
}

.c-masthead ._nav {
    display: block;
    margin-left: auto;
}

@media (max-width:768px) {
    .c-masthead ._nav {
        display: none;
    }
}

.c-masthead ._nav ._nav-list {
    margin: 0;
    list-style-type: none;
}

.c-masthead ._nav ._nav-list ._nav-item {
    display: inline-block;
    margin-left: 1rem;
}

@media (max-width:860px) {
    .c-masthead ._nav ._nav-list ._nav-item {
        margin-left: .75rem;
    }
}

.c-masthead ._nav ._nav-list ._nav-item:first-child {
    margin-left: 0;
}

.c-masthead ._nav ._nav-list ._nav-item a {
    color: #d8f2c2;
    font-weight: 300;
}

.c-masthead ._nav ._nav-list ._nav-item:hover a,
.c-masthead ._nav ._nav-list ._nav-item:focus a,
.c-masthead ._nav ._nav-list ._nav-item.-active a {
    color: #fff;
}

.c-masthead ._menu {
    display: none;
    margin-left: auto;
    -webkit-appearance: none;
    padding: 0 .5rem;
    color: #d8f2c2;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    -webkit-transition-property: normalize('transition-property',color,webkit);
    -moz-transition-property: normalize('transition-property',color,moz);
    -o-transition-property: normalize('transition-property',color,o);
    -ms-transition-property: normalize('transition-property',color,ms);
    transition-property: normalize('transition-property',color);
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

.c-masthead ._menu:hover,
.c-masthead ._menu:focus {
    color: #fff;
    cursor: pointer;
}

.c-masthead ._menu:focus {
    outline: none;
}

@media (max-width:768px) {
    .c-masthead ._menu {
        display: block;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

.c-nav {
    width: 12rem;
    display: block;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    position: absolute;
    background: #2e2e2e;
    z-index: 0;
}

.c-nav ._nav-list {
    margin: 0 0 1rem 0;
    list-style-type: none;
}

.c-nav ._nav-list ._nav-item {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.c-nav ._nav-list ._nav-item a {
    display: block;
    padding: 1rem;
    color: #d8f2c2;
    font-weight: 300;
}

.c-nav ._nav-list ._nav-item a:hover,
.c-nav ._nav-list ._nav-item a:focus {
    color: #fff;
    background: rgba(0,0,0,0.1);
}

@media (max-height:439px) {
    .c-nav ._nav-list ._nav-item a {
        padding: .5rem 1rem;
    }
}

.c-nav ._nav-list ._nav-item.-active a {
    color: #fff;
    background: rgba(0,0,0,0.2);
}

.c-section.-intro {
    margin-bottom: 2rem;
}

.c-section.-intro .c-heading {
    margin: 3rem 0;
    padding: 0 2rem;
    font-weight: 300;
    text-align: center;
}

@media (max-width:768px) {
    .c-section.-intro .c-heading {
        margin: 2rem 0;
        padding: 0;
    }
}

@media (max-width:568px) {
    .c-section.-intro .c-heading {
        font-size: 1.75rem;
    }
}

.c-section.-intro .learn-more {
    margin: 2rem 0 1rem 0;
}

.c-terminal {
    margin: 1.5rem 0;
    padding: 1rem;
    background: rgba(7,88,42,0.8);
}

.c-terminal p {
    margin: 0;
}

.c-wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    background: #2e2e2e;
    -webkit-box-shadow: 0 0 .5rem rgba(0,0,0,0.5);
    box-shadow: 0 0 .5rem rgba(0,0,0,0.5);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    -webkit-transition-property: normalize('transition-property',transform,webkit);
    -moz-transition-property: normalize('transition-property',transform,moz);
    -o-transition-property: normalize('transition-property',transform,o);
    -ms-transition-property: normalize('transition-property',transform,ms);
    transition-property: normalize('transition-property',transform);
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.c-wrapper ._cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    background: rgba(255,255,255,0);
    -webkit-transition-property: normalize('transition-property',background,webkit);
    -moz-transition-property: normalize('transition-property',background,moz);
    -o-transition-property: normalize('transition-property',background,o);
    -ms-transition-property: normalize('transition-property',background,ms);
    transition-property: normalize('transition-property',background);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

.-nav-open .c-wrapper {
    position: fixed;
    -webkit-transform: translateX(-12rem);
    -moz-transform: translateX(-12rem);
    -o-transform: translateX(-12rem);
    -ms-transform: translateX(-12rem);
    transform: translateX(-12rem);
}

.-nav-open .c-wrapper ._cover {
    visibility: visible;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

pre.cli {
    margin: 1rem 0;
    padding: 1rem;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    border: none;
    font-family: 'Ubuntu Mono',Courier,monospace;
    background: rgba(0,0,0,0.35);
}

pre.cli .input {
    color: #96dd22;
}

pre.cli .prompt {
    color: #48d2e5
}

pre[class*="language-"] {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

pre[class*="language-"]::-webkit-scrollbar {
    -webkit-appearance: none;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
    height: 1rem;
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
    background-color: rgba(0,0,0,0.5);
}

code[class*="language-"] {
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Mono',Courier,monospace;
    background: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: rgba(0,0,0,0.35);
}

/** Added for RSS feed in "resources" **/

.feedcontainer {
  display: block;
  margin-bottom: 25px;
}

.feedcontainer li {
  line-height: 1.5em;
}

/** Comparison table **/

table.comp {
  width: 50rem;
}

th#feature {
    width: 6rem;
}

table.comp td {
    width: 8rem;
}
table.comp, table.comp tr td, table.comp tr th {
    border: 1px solid #6e6e6e;
}

table.comp tr th {
    font-size: 90%;
    font-weight: bold;
    padding: 10px;
    background-color: #193819;
    text-align: center;
}

table.comp tr td {
    font-size: 80%;
    padding: 10px 5px 10px 5px;
}

td.col1 {
    background-color: #193819;
}

#feature {
    background-color: #002200;
}

.devborder {
    border: 1px dashed red;
}

.ni-img {
    max-width: 200px;
}

.border-img {
    border: 1px solid #000;
}
