<footer id="container">
            <div class="row">
                <div class="col-md-6 footer-left">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
              </div>
              <div class="col-md-6 footer-right">
                <p><img src="{{site.url}}/images/company_logo.png" alt="Company logo"/></p>
              </div>
            </div>
</footer>
