    <div class="navdiv">
        <ul id="nav">
          <li><a href="#">Item 1 xxx</a>
            <ul>
              <li><a href="topic1.html" {% if page.title == 'Topic1' %} class="active"{% endif %}> Topic 1</a></li>
              <li><a href="#">Sub-Item 1 b</a></li>
              <li><a href="#">Sub-Item that has children</a>
                <ul>
                  <li><a href="topic2.html" {% if page.title == 'Topic2' %} class="active"{% endif %}> Topic 2</a></li>
                  <li><a href="#">This one has children</a>
                    <ul>
                      <li><a href="#">Child One</a></li>
                      <li><a href="#">Child Two</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sub-sub-Item 3 dfsdfs asfasdf s  asdfasf dsfa asdfa sdfads</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Item 2 asdfas fasdf asfasfasdf asfasdfasdfsadf adsf</a>
            <ul>
              <li><a href="#">Sub-Item 2 a</a></li>
              <li><a href="#">Sub-Item 2 b</a></li>
            </ul>
          </li>
          <li><a href="#">Item 3</a>
            <ul>
              <li><a href="#">Sub-Item 3 a</a></li>
              <li><a href="#">Sub-Item 3 b</a></li>
              <li><a href="#">Sub-Item 3 c</a></li>
              <li><a href="#">Sub-Item 3 d</a></li>
            </ul>
          </li>
          <li><a href="#">Item 4</a>
            <ul>
              <li><a href="#">Sub-Item 4 a</a></li>
              <li><a href="#">Sub-Item 4 b</a></li>
              <li><a href="#">Sub-Item 4 c</a></li>
            </ul>
          </li>
        </ul>
    </div><!-- "navdiv" -->