<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>LoopBack - {{page.title}}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic,400italic,500italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Mono">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/overview/prism.css">
    <link rel="stylesheet" href="/css/overview/main.css">

    <!-- github star button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.7/jquery.placeholder.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
    <script src="/js/prism.js"></script><script>$('input, textarea').placeholder();</script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
</head>
