<div class="c-section -intro">
  <div class="c-container">
    <h2 class="c-heading -h1">The Node.js API Framework</h2>
    <div class="c-grid">
      <div class="_col -col-1-2 -offset-1-4">
        <div class="c-terminal">
          <p>$ npm install -g loopback-cli</p>
        </div>
      </div>
    </div>
    <p class="learn-more x-center"><a href="/getting-started" class="c-button -lg x-center">Get Started</a>
    <a href="doc" class="c-button -lg x-center docs-button">Read Docs</a></p>
  </div>
</div>
