    <div class="c-wrapper js-wrapper">
      <header class="c-masthead">
        <div class="c-container x-flex-v js-masthead-container">
          <a href="/" class="_logo x-flex-v">
            <h1 class="c-heading -h3">LoopBack</h1>
          </a>
          <nav class="_nav js-masthead-nav">
            <ul class="_nav-list js-nav-list">
              <li class="_nav-item {% if page.item == 'getting-started' %}-active{% endif %}">
                <a href="/lb3/getting-started">Getting started</a></li>
              <li class="_nav-item {% if page.item == 'examples' %}-active{% endif %}">
                <a href="/lb3/examples">Examples</a></li>
              <li class="_nav-item {% if page.item == 'docs' %}-active{% endif %}">
                <a href="/doc">Docs</a></li>
              <li class="_nav-item {% if page.item == 'resources' %}-active{% endif %}">
                <a href="/lb3/resources">Resources</a></li>
              <li class="_nav-item {% if page.item == 'contributing' %}-active{% endif %}">
                <a href="/lb3/contributing">Contributing</a></li>
              <li class="_nav-item">
                <a href="https://strongloop.com/strongblog/tag_LoopBack.html" target="_blank">Blog</a>
              </li>
              <li class="_nav-item">
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/strongloop/loopback" data-show-count="true" aria-label="Star strongloop/loopback on GitHub">Star</a>
              </li>
            </ul>
          </nav>
          <button class="_menu js-menu">
            <i class="fa fa-bars"></i>
            <span class="x-hide">Menu</span>
          </button>
        </div>
