<!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XL76H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5XL76H');</script>
  <!-- End Google Tag Manager -->
    <div class="c-wrapper js-wrapper">
      <header class="c-masthead">
        <div class="c-container x-flex-v js-masthead-container">
          <a href="/" class="_logo x-flex-v">
            <h1 class="c-heading -h3">LoopBack</h1>
          </a>
          <nav class="_nav js-masthead-nav">
            <ul class="_nav-list js-nav-list">
              <li class="_nav-item {% if page.item == 'getting-started' %}-active{% endif %}">
                <a href="/getting-started">Getting started</a></li>
              <li class="_nav-item {% if page.item == 'examples' %}-active{% endif %}">
                <a href="/examples">Examples</a></li>
              <li class="_nav-item {% if page.item == 'resources' %}-active{% endif %}">
                <a href="/resources">Resources</a></li>
              <li class="_nav-item {% if page.item == 'contributing' %}-active{% endif %}">
                <a href="/contributing">Contributing</a></li>
            </ul>
          </nav>
          <button class="_menu js-menu">
            <i class="fa fa-bars"></i>
            <span class="x-hide">Menu</span>
          </button>
          <iframe src="https://ghbtns.com/github-btn.html?user=strongloop&amp;repo=loopback&amp;type=watch&amp;count=true" class="c-github-star js-github-star"></iframe>
        </div>
