<table width="750">
  <thead><tr>
  <th width="270">コマンド</th>
  <th width="200">参照</th>
  <th>説明</th>
  </tr></thead>
  <tbody>
<tr>
<td> <code>lb</code> <br/> <code>slc loopback</code> <br/><code>apic loopback</code>
</td><td>  <a href="Application-generator.html">アプリケーション生成ツール</a>
</td><td>  新しいLoopBackアプリケーションを作成する。</td>
</tr>
<tr>
<td> <code>lb bluemix</code> <br/><code>apic bluemix</code>
</td><td>  <a href="Bluemix-config-generator.html">Bluemix 設定生成ツール</a>
</td><td>LoopBackアプリケーションに、Bluemixデプロイ用のアーティファクトを追加する。</td>
</tr>
<tr>
<td> <code>lb datasource</code> <br/><code>slc loopback:datasource</code> <br/>  <code>apic create --type datasource</code>
</td><td> <a href="Data-source-generator.html">データソース生成ツール</a>
</td><td> LoopBackアプリケーションに、新しいデータソースを追加する。</td>
</tr><tr>
<td> <code>lb model</code> <br/><code>slc loopback:model</code> <br/> <code>apic create --type model</code>
</td><td> <a href="Model-generator.html">Model generator</a>
</td><td> LoopBackアプリケーションに、新しいモデルを追加する。</td>
</tr><tr>
<td> <code>lb property</code> <br/><code>slc loopback:property</code> <br/> <code>apic loopback:property</code>
</td><td> <a href="Property-generator.html">プロパティ生成ツール</a>
</td><td> 既存のモデルに新しいプロパティを追加する。</td>
</tr><tr>
<td> <code>lb acl</code> <br/><code>slc loopback:acl</code> <br/> <code>apic loopback:acl</code>
</td><td> <a href="ACL-generator.html">ACL生成ツール</a>
</td><td> LoopBackアプリケーションに新しいアクセス制御リスト（ACL）を追加する。</td>
</tr><tr>
<td> <code>lb relation</code> <br/><code>slc loopback:relation</code> <br/> <code>apic loopback:relation</code>
</td><td> <a href="Relation-generator.html">リレーション生成ツール</a>
</td><td> 新しいモデルのリレーションを追加する。</td>
</tr><tr>
<td> <code>lb remote-method</code> <br/> <code>slc loopback:remote-method</code> <br/> <code>apic loopback:remote-method</code>
</td><td> <a href="Remote-method-generator.html">リモートメソッド生成ツール</a>
</td><td> 新しい<a href="Remote-methods.html">リモートメソッド</a>を追加する。</td>
</tr><tr>
<td> <code>lb middleware</code> <br/> <code>slc loopback:middleware</code> <br/> <code>apic loopback:middleware</code>
</td><td> <a href="Middleware-generator.html">ミドルウェア生成ツール</a>
</td><td> 新しい<a href="Defining-middleware.html">ミドルウェア</a>設定を追加する。</td>
</tr><tr>
<td> <code>lb boot-script<</code> <br/> <code>slc loopback:boot-script</code> <br/> <code>apic loopback:boot-script</code>
</td><td> <a href="Boot-script-generator.html">起動スクリプト生成ツール</a>
</td><td> 新しい<a href="Defining-boot-scripts.html">起動スクリプト</a>を追加する。</td>
</tr><tr>
<td> <code>lb export-api-def</code> <br/> <code>slc loopback:export-api-def</code> <br/> <code>apic loopback:export-api-def</code>
</td><td> <a href="API-definition-generator.html">API定義生成ツール</a>
</td><td> Swagger API 定義をエクスポートする。</td>
</tr><tr>
<td> <code>lb swagger</code> <br/> <code>slc loopback:swagger</code> <br/> <code>apic loopback:swagger</code>
</td><td> <a href="Swagger-generator.html">Swagger 生成ツール</a>
</td><td> <a href="http://swagger.io/">Swagger</a> 2.0 仕様に沿ったAPIを提供する、完全に機能するアプリケーションを生成する。</td>
</tr>

<tr>
<td> <code>apic loopback:refresh</code></td>
<td><a href="Refresh-definitions-command.html">Refresh definitions command</a></td>
<td> Generate a product and an OpenAPI (Swagger) definition</td></tr>

<tr>
<td> <code>lb soap</code></td>
<td><a href="SOAP-generator.html">SOAP generator</a></td>
<td> Generate application artifacts based on WSDL file.</td></tr>

</tbody></table>
