<div markdown="1" class="alert alert-success" role="alert"><i class="fa fa-check-square-o"></i> <b>Tip:</b>
hidden プロパティとprotected プロパティは微妙に異なります。

- `hidden` determines whether a property is returned by a query directly against the model that contains the property.
- `protected` determines whether a property is returned by a query against a model that has a relation to the model being queried.

{% if include.xref %}
詳細は、[Hidden プロパティ](Model-definition-JSON-file.html#hidden-properties)を参照ください。
{% endif %}
</div>
