<div markdown="1" style="font-size: 11pt; border: 1px solid #cccccc; background-color: #EBF5EB; padding: 10px; border-radius: 3px; margin: 10px auto 20px auto; width: 680px; padding: 10px;">
<div style="float:right;">{% include image.html file="9830552.png" alt="StrongLoop Labs" max-width="150" %}</div>

This project provides early access to advanced or experimental functionality. It may lack usability, completeness, documentation, and robustness, and may be outdated.

However, StrongLoop supports this project. Community users, please report bugs on GitHub.

For more information, see [StrongLoop Labs](StrongLoop-Labs.html).
</div>
