<table width="750">
  <thead><tr>
  <th width="270">Commands</th>
  <th width="200">See</th>
  <th>Description</th>
  </tr></thead>
  <tbody>
<tr>
<td> <code>lb</code> <br/> <code>slc loopback</code> <br/><code>apic loopback</code>
</td><td>  <a href="Application-generator.html">Application generator</a>
</td><td>  Create a new LoopBack application.</td>
</tr>
<tr>
<td> <code>lb bluemix</code> <br/><code>apic bluemix</code>
</td><td>  <a href="Bluemix-config-generator.html">Bluemix configuration generator</a>
</td><td>Add Bluemix deployment artifacts to a LoopBack application.</td>
</tr>
<tr>
<td> <code>lb datasource</code> <br/><code>slc loopback:datasource</code> <br/>  <code>apic create --type datasource</code>
</td><td> <a href="Data-source-generator.html">Data source generator</a>
</td><td> Add a new data source to a LoopBack application.</td>
</tr><tr>
<td> <code>lb model</code> <br/><code>slc loopback:model</code> <br/> <code>apic create --type model</code>
</td><td> <a href="Model-generator.html">Model generator</a>
</td><td> Add a new model to a LoopBack application.</td>
</tr><tr>
<td> <code>lb property</code> <br/><code>slc loopback:property</code> <br/> <code>apic loopback:property</code>
</td><td> <a href="Property-generator.html">Property generator</a>
</td><td> Add a new property to an existing model.</td>
</tr><tr>
<td> <code>lb acl</code> <br/><code>slc loopback:acl</code> <br/> <code>apic loopback:acl</code>
</td><td> <a href="ACL-generator.html">ACL generator</a>
</td><td> Add a new access control list (ACL) entry to the LoopBack application.</td>
</tr><tr>
<td> <code>lb relation</code> <br/><code>slc loopback:relation</code> <br/> <code>apic loopback:relation</code>
</td><td> <a href="Relation-generator.html">Relation generator</a>
</td><td> Add a new model relationship.</td>
</tr><tr>
<td> <code>lb remote-method</code> <br/> <code>slc loopback:remote-method</code> <br/> <code>apic loopback:remote-method</code>
</td><td> <a href="Remote-method-generator.html">Remote method generator</a>
</td><td> Add a new <a href="Remote-methods.html">remote method.</a>.</td>
</tr><tr>
<td> <code>lb middleware</code> <br/> <code>slc loopback:middleware</code> <br/> <code>apic loopback:middleware</code>
</td><td> <a href="Middleware-generator.html">Middleware generator</a>
</td><td> Add a new <a href="Defining-middleware.html">middleware</a> configuration.</td>
</tr><tr>
<td> <code>lb boot-script<</code> <br/> <code>slc loopback:boot-script</code> <br/> <code>apic loopback:boot-script</code>
</td><td> <a href="Boot-script-generator.html">Boot script generator</a>
</td><td> Add a new <a href="Defining-boot-scripts.html">boot scripts</a>.</td>
</tr><tr>
<td> <code>lb export-api-def</code> <br/> <code>slc loopback:export-api-def</code> <br/> <code>apic loopback:export-api-def</code>
</td><td> <a href="API-definition-generator.html">API definition generator</a>
</td><td> Export Swagger API definition.</td>
</tr><tr>
<td> <code>lb swagger</code> <br/> <code>slc loopback:swagger</code> <br/> <code>apic loopback:swagger</code>
</td><td> <a href="Swagger-generator.html">Swagger generator</a>
</td><td> Generates a fully-functional application that provides APIs conforming to the <a href="http://swagger.io/">Swagger</a> 2.0 specification.</td>
</tr>

<tr>
<td> <code>apic loopback:refresh</code></td>
<td><a href="Refresh-definitions-command.html">Refresh definitions command</a></td>
<td> Generate a product and an OpenAPI (Swagger) definition</td></tr>

<tr>
<td> <code>lb soap</code></td>
<td><a href="SOAP-generator.html">SOAP generator</a></td>
<td> Generate application artifacts based on WSDL file.</td></tr>

</tbody></table>
