<!DOCTYPE html>
<head>
    {% include head.html %}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){

            $('table.datatable').DataTable( {
                        paging: false,
                        stateSave: true
                    }
            );
        });
    </script>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"/>

    
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <nav class="col-md-3 sidebar-col">
          {% include sidebar.html %}
        </nav>
        <!-- Content Column -->
        <div class="col-md-9">
            {{content}}
        </div>
        <!-- /.row -->
</div>
<!-- /.container -->
    </div>
    <script type="text/javascript">
        docsearch({
          appId: 'JHHAZ68MS2',
          apiKey: 'd5ea594dd98a77b9e4b27fb69776fa9f',
          indexName: 'loopback',
          container: '#algolia-docsearch',
          searchParameters: {
            facetFilters: ['lang:en']
          }
        });
      
      </script>

</body>

</html>
