---
layout: default
toc: false
---
<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">

 {% if page.summary %}
  <div class="summary">
    {{page.summary}}
  </div>
 {% endif %}

  {% if page.layout != 'readme' and page.layout != 'navgroup' %}
    {% unless page.toc == false %}
      {% include toc.html level=page.toc_level %}
    {% endunless %}
  {% endif %}

    {{content}}

    <div class="tags">
      {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
          {% if projectTags contains tag %}
            <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
            {% endif %}
        {% endfor %}
      {% endif %}
      {% if site.github_editme_path %}
          <a target="_blank" href="https://github.com/strongloop/loopback.io/blob/gh-pages/doc/index.md" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit this page</a>
       {% endif %}

      {% if site.disqus %}
        {% include disqus.html %}
      {% endif %}
  </div>

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
