---
layout: default
---
{% if page.sidebar == 'lb2_sidebar' and page.v2only != true %}
  {% include content/v3notice.html %}
{% elsif page.sidebar == 'lb4_sidebar' %}
  {% include content/v4notice.html %}
{% endif %}
<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
   {% if page.editurl %}
       <a target="_blank" href="{{page.editurl}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Source code</a>
   {% elsif site.github_editme_path and page.layout != 'readme' and page.sidebar != 'lb4_sidebar' %}
     {% assign edit_url =  page.url | remove: "/doc" | remove: ".html" | append: ".md" | prepend: site.github_editme_path %}
       <a target="_blank" href="https://github.com/{{edit_url}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit this page</a>
   {% elsif site.lb4_editme_path and page.layout != 'readme' and page.sidebar == 'lb4_sidebar' %}
     {% assign edit_url =  page.path | remove: "pages/en/lb4" | prepend: site.lb4_editme_path %}
       <a target="_blank" href="https://github.com/{{edit_url}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit this page</a>
   {% endif %}
</div>

<div class="post-content">

 {% if page.summary %}
  <div class="summary">
    {{page.summary}}
  </div>
 {% endif %}

{% if page.layout == 'navgroup' %}
  {% capture nav-include %}{% include navgroups/{{page.navgroup}}.md %}{% endcapture %}
  {{ nav-include | markdownify }}
{% endif %}

 {% unless page.toc == false %}
   {% include toc.html level=page.toc_level %}
 {% endunless %}

    {{content}}

    <div class="tags">
      {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
          {% if projectTags contains tag %}
            <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
